._bgcl-secondary {
    background-color: $secondary !important; 
}
._bgcl-tertiary {
    background-color: $tertiary !important; 
}
._ffml-roboto {
    font-family: 'Roboto', sans-serif !important;
}
._ffml-kanit {
    font-family: 'Kanit', sans-serif !important;
}

@media(min-width: $widescreen) {
    ._w-200px {
        width: 200px;
    }
}
