$primary: #22B573;
$secondary: #99B998;
$tertiary: #EDF2ED;
$body-family: "Roboto", "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI",
Roboto, "Helvetica Neue", Arial, sans-serif;


$tablet: 770px;
$desktop: 900px;
$widescreen: 1200px;

// $sm: 640px;
// $md: 900px;
// $lg: 1250px;