$primary: #E16B3C;
$secondary: #22B573;
$tertiary: #EDF2ED;
$body-family: "Roboto", "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI",
Roboto, "Helvetica Neue", Arial, sans-serif;


$tablet: 770px;
$desktop: 1200px;
// $widescreen: 1200px;

// $sm: 640px;
// $md: 900px;
// $lg: 1250px;